#cabecalho{
    color: rgb(101, 121, 10);
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
    font-style: italic;
    padding: 30px 10px;
    margin-top: -10px;
    background-image: url(../midia/Imagens_css/paisagem.png);
    background-position: center, top;
    background-repeat: no-repeat;
}

#linkCabecalho{
    color: rgb(101, 121, 10);
    padding: 5px 40px;
    margin: -10px;
    background-color: white;
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(101, 121, 10);
    text-decoration: none;
}

#corpo_informacoes{
    padding: 15px;
    font-family: cursive;
    background: linear-gradient(to bottom, rgb(24, 143, 54), rgb(157, 238, 150));
    margin-left: 187px; 
    margin-right: 186px; 
    height: auto; 
}

#corpo_tarifas{
    padding: 15px 170px;
    font-family: cursive;
    background: linear-gradient(to bottom, rgb(24, 143, 54), rgb(157, 238, 150));
    margin-left: 187px;
    margin-right: 186px;
    height: auto;
    text-align: center;
}

th{
    background-color: green;
    color: white;
}

tr{
    background-color: white;
}


#desenvolvidoPor{
    text-align: center;
    background-color: rgb(11, 110, 11);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin-left: 187px; 
    margin-right: 186px; 
    margin-top: 0px;
}

html{
    background-image: url(../midia/Imagens_css/folhas.png);
    background-attachment:fixed;
}